/* font style */

h1, header nav h4 {
  font-family: 'Meddon', cursive;
  font-weight: lighter;
}

h1 > small, h2, h3, h4, blockquote, header nav a, p, .caution, #test-control {
  font-family: 'Artifika', serif;
  font-weight: normal;
}


html, body {
  margin: 0;
  padding: 0;

}


html {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI Light", Monaco, sans-serif;
  font-weight: lighter;
  font-size: 11pt;
}

body {
  background-color: #fc9;
  background-image: -webkit-linear-gradient(#fff, #fc9 300px, #fc9);
  background-image: -moz-linear-gradient(#fff, #fc9 300px, #fc9);
  background-image: -o-linear-gradient(#fff, #fc9 300px, #fc9);
  background-image: linear-gradient(#fff, #fc9 300px, #fc9);
  background-repeat: no-repeat;
}

header, article > section > div, footer > div {
  max-width: 960px;
  margin: 0 auto;
}

h2, h3, h4 {
  color: #963;
}

h1 {
  color: #630;
  margin-top: 0;
  font-size: 42pt;
  line-height: 0.9;
}

h1:before {
  content: '';
  display: inline-block;
  background-image: url(../img/macchiato.png);
  background-size: 43pt auto;
  background-repeat: no-repeat;
  width: 44pt;
  height: 44pt;
  margin-left: 12pt;
}

hgroup {
  display: block;
  padding-top: 48pt;
  padding-bottom: 1px;
  margin-bottom: 30px;
  box-shadow: 0 1px rgba( 51, 0, 0, 0.5 ), 0 2px #fff;
}

h3 {
  font-size: 20pt;
}

small {
  color: #963;
}

hgroup > h3:before, hgroup > h3:after {
  display: inline-block;
  content: "-";
  padding: 0 10pt;
}

h2 {
  font-size: 42pt;
  margin: 16pt 0 9pt;
}

code {
  font-family: Consolas, Monaco, monospace;
}

blockquote {
  font-style: italic;
  line-height: 1.6em;
  color: #999;
  margin-left: 0;
  padding-left: 40px;
  border-left: 5px solid #ccc;
}

header {
  position: relative;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  background: #210;
  background-image: -webkit-linear-gradient(#210, #630);
  background-image: -moz-linear-gradient(#210, #630);
  background-image: -o-linear-gradient(#210, #630);
  background-image: linear-gradient(#210, #630);
  width: 100%;
  border-bottom: 1px solid #963;
  box-shadow: 0 0 6px 3px rgba(0,0,0,0.5);
  z-index: 1;
}

@media only screen and (device-width: 480px) and (orientation: portrait) and not (-webkit-min-device-pixel-ratio: 2){
  header nav {
    position: absolute;
  }
}

@media only screen and (device-width: 960px) and (orientation: landscape) and not (-webkit-min-device-pixel-ratio: 2){
  header nav {
    position: absolute;
  }
}



header h4, header nav ul {
  position: relative;
  display: inline-block;
  margin: 0;
  color: #630;
}

header nav li {
  display: inline-block;
  padding-right: 20px;
  margin-right: 5px;
}

header a {
  color: #c96;
  text-decoration: none;
}

footer {
  margin-top: 40px;
  padding-bottom: 20px;
  background-color: #210;
  background-image: -webkit-linear-gradient( #630, #210 100px, #210);
  background-image: -moz-linear-gradient( #630, #210 100px, #210);
  background-image: -o-linear-gradient( #630, #210 100px, #210);
  background-image: linear-gradient( #630, #210 100px, #210);
  color: #963;
}

footer h4 {
  padding-bottom: 6pt;
  border-bottom: 1px solid #630;
  color: #963;
}

footer a {
  color: #fc9;
  text-decoration: none;
}

footer nav {
  display: inline-block;
  vertical-align: top;
  min-width: 280px;
  margin-right: 10px;
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer {
  box-shadow: 0 -1px #963, 0 -2px #630;
}

input[type=text] {
  box-shadow:
    inset 0 1px 4px #000,
    0 1px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 3px;
  padding: 4px;
  padding-bottom: 2px;
}

input[type=button] {
  font-size: 11pt;
  font-weight: bold;
  display: inline-block;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  padding: 5px 15px;
  box-shadow:
    0 -1px 0 2px rgba(51, 0, 0, 0.3)
  , 0 1px 0 2px rgba(255, 255, 255, 0.5)
  , inset 0 1px rgba(255, 255, 255, 0.3)
  , inset 0 -1px rgba(255, 255, 255, 0.1);
}

input[type=button]:active {
  box-shadow:
    0 -1px 0 2px rgba(0, 0, 0, 0.3)
  , 0 1px 0 2px rgba(255, 255, 255, 0.8)
  , inset 0 1px 8px #000;
}

.caution {
  background-color: #fc0;
  color: #000;
  font-weight: bold;
  border: 4px solid #000;
  border-radius: 8px;
  padding: 5px;
}

.caution > h2 {
  background-color: #000;
  color: #fc0;
  margin: 0;
  border-radius: 4px;
}

.caution > h2:before {
  content: '⚠';
  display: inline-block;
  font-size: 42pt;
  margin: 0pt 5pt;
}

.caution > p {
  margin-left: 10px;
  margin-right: 10px;
}

.caution a:link {
  color: #330;

}

.caution a:visited {
  color: #660;
}

.primary {
  color: #fff;
  background-color: #a40;
  background-image: -webkit-linear-gradient(#a40, #830 50%, #720 50%, #610);
  background-image: -moz-linear-gradient(#a40, #830 50%, #720 50%, #610);
  background-image: -o-linear-gradient(#a40, #830 50%, #720 50%, #610);
  background-image: linear-gradient(#a40, #830 50%, #720 50%, #610);
  text-shadow: 0 -1px #610;
  border-color: #610;
}

.primary:hover {
  background-color: #19a;
  background-image: -webkit-linear-gradient(#c60, #a50 50%, #940 50%, #830);
  background-image: -moz-linear-gradient(#c60, #a50 50%, #940 50%, #830);
  background-image: -o-linear-gradient(#c60, #a50 50%, #940 50%, #830);
  background-image: linear-gradient(#c60, #a50 50%, #940 50%, #830);
}

.primary:active {
}

.primary:disabled {
}

.input-with-label {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  padding-right: 15px;
  border-radius: 3px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.input-with-label > input {
  display: inline-block;
  margin-right: 5px;
}

.input-with-label:active{
  color: #fff;
  text-shadow: 0 -1px #300;
  box-shadow: inset 0 1px 8px #000, 0 1px #fff;
}

.input-with-label:hover {
  background-color: #c30;
  cursor: pointer;
}

.passed {
  font-weight: bold;
  color: #3f3;
}

.failed {
  font-weight: bold;
  color: #f33;
}

code.inline {
  display: inline-block;
  font-weight: bold;
  padding: 2px 10px 2px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
}

pre.sample-code, div.console {
  font-family: monospace;
}

pre.sample-code {
  background-color: #321;
  color: #fff;
  padding: 10px 20px;
  margin: 0;
  border: 4px solid #000;
  border-radius: 8px;
  margin-right: 2px;
}

#fork-me-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 3;
}

#about {
  margin: 20px 0;
  background-color: #fff;
}

#about > div {
  padding: 10px 0 10px 0;
}

#about h2, #about h3 {
  color: #000;
}

#usage {
  background-color: #653;
  color: #320;
}

#usage > div {
  padding: 20px 0 20px 0;
  margin-top: 20px;
}

#usage h2, #usage h3 {
  color: #fec;
}

#usage h2 {
  font-size: 42pt;
}

#usage h3 {
  font-size: 20pt;
}

#usage h3:not(:first-child) {
  margin-top: 40px;
}

#usage code.inline {
  background-color: #431;
  border-color: #000;
  color: #fec;
}

#test-count {
  width: 3em;
  text-align: right;
}

#test-control {
  position: relative;
  padding: 10px 0;
}

.test-result {
  margin: 0 0 0 15px;
  padding: 0;
  top: 18px;
  display: inline-block;
  position: absolute;
}

#test-control .message {
  position: relative;
  background-color: #fff;
  padding: 8px 12px 6px 10px;
  border: 1px solid #c96;
  border-radius: 4px;
}

#test-control .message:before {
  position: absolute;
  left: -9px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 8px solid #c96;
  border-bottom: 8px solid transparent;
}

#test-control .message:after {
  position: absolute;
  left: -8px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 8px solid #fff;
  border-bottom: 8px solid transparent;
}

#logger {
  height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
  color: #ccc;
  background-color: #222;
  border-radius: 5px;
  padding: 0 20px;
  margin-top: 4px;
  box-shadow:
    0 -1px 0 3px rgba(51, 0, 0, 0.3)
  , 0 1px 0 3px rgba(255, 255, 255, 0.5)
  , inset 0 1px 4px #000;
}

#test-log p {
  margin: 0;
}

