pre {
    background: #333;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #ddd;
    font-size: 11pt;
    line-height: 1.5;
    margin-bottom: 20px;
}

pre, code, .console {
    font-family: Consolas, Monaco, monospace;
}

pre .comment {
    color: #666;
    font-style: italic;
}

pre .integer {
    color: #22C0FF;
}

pre .storage {
    color: #6080FF;
}

/* This includes regexes */
pre .string {
  color: #fd3;
  font-style: italic;
}

pre .keyword, pre .selector {
  color: #f60;
}

pre .inherited-class {
  font-style: italic;
}

pre .entity {
  color: #F09040;
}

pre .support {
    color: #C83730;
}

pre .variable.class {
  color: #FF8000;
}

pre .function.call {
  color: #9c6;
}

pre .keyword.operator {
  color: #c96;
}

pre .class.object {
  color: #cf9;
}
